html {
  height: 100%;
}

body {
  overflow: auto;
  font-family: "Roboto Condensed", monospace;
  margin: 0;
  background-color: #fff;
  color: rgb(68, 68, 68);
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

h1 {
  font-family: "Alegreya", serif;
  font-weight: 700;
  line-height: 43px;
  font-size: 43px;
  margin-top: 20px;
}

h2,
h3 {
  font-family: "Roboto Condensed", monospace;
  text-transform: uppercase;
}

h2 {
  font-size: 21px;
  line-height: 23px;
  letter-spacing: 2px;
  margin: 0;
}

h3 {
  font-weight: normal;
  font-size: 1.17em;
  margin-top: 18px;
  margin-bottom: 0px;
}

h3 + .timespan {
  margin-bottom: 8px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

article {
  break-inside: avoid;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  page-break-inside: avoid;
}

section:not(:first-of-type)::before {
  content: "";
  display: block;
  height: 20px;
}

a,
a:visited {
  color: #fff;
}

a:hover {
  color: rgb(143, 142, 142);
}

a.company-link {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

aside > ul {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

aside > ul > li {
  line-height: 20px;
}

aside > img {
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

.timespan {
  opacity: 0.6;
  margin: 0 0 8px 0;
}

.grid-container {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.header {
  grid-area: head;
}

.profile {
  background: #585858;
  color: #fff;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}

.timeline {
  padding: 25px;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  flex-wrap: wrap;
}

.tech-stack ul {
  list-style: circle;
  padding-inline-start: 15px;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .header {
    top: 0;
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    left: 0;
  }

  .grid-container {
    flex-direction: column;
  }

  .profile {
    padding-top: 50px;
  }

  .photo {
    width: 40%;
  }

  .timeline {
    margin-top: 30px;
    padding: 15px;
  }
}

.dummy-fill {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dummy-fill::before {
  content: "";
  width: 240px;
  background-color: #585858;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    min-height: 100vh;
  }

  .dummy-fill {
    display: flex;
  }
}
